* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
.main {
    background-image: url('images/grassBackground.jpg');
    background-size: cover;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

/* nav */


#scoreCardContainer {
    padding: 0;
    margin: 0;
}


#scoreCard {
    width: 85%;
    height: 100%;
}



/* table */

table {
    
    width: 100%;
}

tbody {
    width: 100%;
}


