* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
.main {
    background-image: url('images/grassBackground.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.row {
    z-index: 2;
}

/* nav */

nav {
    background-color: gray;
    opacity: 90%;
    
}

.h1 {
    
}
/* options */

#optionsContainer {
    height: 70%;
    width: 80%;
    margin: auto;
   

}

/* table */

#scoreCardContainer {
    padding: 0;
    margin: 0;
    flex-grow: 1;

}

#scoreCard {
   
    height: 100%;
}

#tableCon {
    width: 100%;
}

#mainTable {
    border: 2px solid black;
}

tbody {
    width: 100%; 
    
}

td {
    width: 9% ;
    padding: 10px;
}

@media (max-width: 600px) {
     td{
      font-size: 10px;
      padding-right: 4px;
    }
}

/* arrows */

#leftArrow:hover, #rightArrow:hover {
    color: darkgrey;
    cursor: pointer;
}

.clikcedArrow {
    color: gray;
}